{% extends 'base/base_auth.html' %}
    {% block content %}
        {% from "macro/_macro.html" import render_field %}
        <div class="frame">
            <div class="container">
                <div class="wrap">
                    <form class="form" name="formlogin" method="POST">
                        <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}"/>   
                        <div class="form-group">
                            <label class="labelsign" for="exampleInputUser"></label>
                            <!--<input type="text" name="uname" class="form-control" placeholder="User name">-->
                            <label class = "labelsign"> {{ render_field(form.nombre_usuario, class='form-control') }} </label>
                        </div>
                        <div class="form-group">
                            <label class="labelsign" for="exampleInputPassword1"></label>
                            <!--<input type="password" name="pass" class="form-control" placeholder="Password">-->
                            <label class = "labelsign"> {{ render_field(form.password, class='form-control') }} </label>
                        </div> 
                        <button type="submit" class="btn btn-primary"><a href="/home"></a>Log in</button>
                        <!--<p class="login">Login in with Github<a href="/github_login">Log In</a></p>-->			
                        <p class="signup">¿No tenés cuenta?<a href="/register">Registro</a></p>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}