{% extends 'base/base_auth.html' %}
    {% block content %}
        {% from "macro/_macro.html" import render_field %}
        <div class="frame">
            <div class="container">	
                <div class="wrap">
                    <!--<form class="form" action="Register" method="POST">-->
                    <form class="form" method="POST">
                        <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}"/> 
                        <div class="form-group">
                            <!--<label class="labelsign" for="exampleInputUser">nombre_usuario</label>-->
                            <label class = "labelsign"> {{ render_field(form.nombre_usuario, class='form-control') }} </label>
                            <!--<input type="text" name="uname" class="form-control" placeholder="User name" required>-->  
                        </div>
                        <div class="form-group">
                            <!--<label class="labelsign" for="exampleInputEmail">Email</label>-->
                            <label class = "labelsign"> {{ render_field(form.email, class='form-control') }} </label>
                            <!--<input type="text" name="email" class="form-control" placeholder="Email" required>-->
                        </div>
                        <div class="form-group">
                            <!--<label class="labelsign" for="exampleInputPassword1">Password</label>-->
                            <label class = "labelsign"> {{ render_field(form.password, class='form-control') }} </label>
                            <!--<input type="password" name="pass" class="form-control" placeholder="Password" required>-->
                        </div>
                        <button type="submit" class="btn btn-primary"><a href="/home"></a>Confirmar</button>
                    </form>
                </div>	
            </div>  
        </div>
    {% endblock %}