{% extends 'base/base_secciones.html' %}
    {% block content %}
    <!--    
    <table class="table table-borderless" id="tablelist">
            <thead class = "thead-light">
                <tr>      
                    <th scope="col">Usuario</th>
                    <th scope="col">Pelicula</th>
                    <th scope="col">Calificacion</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            
                {% for peliculas in peliculas %}
                    <tr>
                        <th scope="row">1</th>
                        <td> asdasdasdas</td>
                        <td> asdasdasdas </a>kjjj</td>  
                        <td> asdasdasdas </a>kjjj</td>  
                        <td> asdasdasdas </a>kjjj</td>  
                    </tr>		      
                {% endfor %}
            	    
        </table>	
        <a href="add.jsp" class="btn btn-info" role="button" id="addbutton">Add new book</a></p>
        <a href="${pageContext.request.contextPath}/BookController?action=LIST" class="btn btn-info" role="button" id="showbutton">Show books</a></p>
    -->
    {% endblock %}