@charset "ISO-8859-1";

html{
	height:100%;
}
body{
	height:100%;
	background-image:url(/static/img/booksLogin.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

.frame{	
  width: 100%;
  margin: 0 auto;
}

.container{
	width: 100%;
	min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form{
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 65px 40px 65px;
  margin:5% auto;
  border:1px solid black;
  border-radius:5px;
  background:black;
  opacity: .6;
}

.labelsign{
	color:white;
	margin:2% auto;
}

.signup{	
	color:white;
	font-size: 15px;
	margin-top:6px;
}

.signup a{
	margin-left:5px;
	/* adjust the size */	
}