{% macro render_field(field) %}
    <td> {{ field.label }} </td>
    <dd> {{ field(**kwargs)|safe }} </dd>

    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li> {{ error }} </li>
            {% endfor %}    
        </ul>
    {% endif %}

{% endmacro %}