{#
    <!--
        Un archivo "macro.html" se utiliza para alojar etiquetas que deben ser utilizadas
        más de una vez a lo largo de toda la aplicación y por motivos de que solamente se
        utilizan en ALGUNAS secciones del sitio, no corresponden ser agregadas al archivo
        "base.html". Un archivo macro tiene una función que puede tener un parametro que
        se envía desde el llamado.. En este caso la función es "show_list_h"
    -->
#}

{% macro render_field(field) %}
    {#
        <h1> {{ i_value }} </h1>
        <h2> {{ i_value }} </h2>
        <h3> {{ i_value }} </h3>
    #}

    <td> {{ field.label }} </td>
    <dd> {{ field(**kwargs)|safe }} </dd>

    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li> {{ error }} </li>
            {% endfor %}    
        </ul>
    {% endif %}

{% endmacro %}

{#
{% macro render_field(field) %}
    <td> {{ field.label }} </td>
    <dd> {{ field</dd>
#}        