<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/secciones.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class = "navbar-brand" href="/home">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li>Bienvenido {{ session['nombre_usuario'] }}</li>
                </ul>
                <div class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
                    <!--<a href = "/logout" type="submit" value="Logout" class="btn btn-light ml-auto">Salir</a>-->
                    <a class = "nav-item" href = "/logout">Salir</a>
                </div>
            </div>
        </nav>
        <p></p>
        <p></p>
        <p></p>
        
        {% block content %}
        {% endblock %}
    </body>
</html>