{% extends 'base/base_auth.html' %}
    {% block content %}
        {% from "macro/_macro.html" import render_field %}
            <!--
                <a href="/comentarios">
                    <button type="button" class="btn btn-dark" value="Login">Comentarios</button>
                </a>
                <br>
                
                </br>
                <a href="/login">
                    <button type="button" class="btn btn-dark" value="Login">Ingresar</button>
                </a>
                <br>
                
                </br>
                <a href="/create">
                    <button type="button" class="btn btn-dark" value="create">Nuevo</button>
                </a>
            -->
    {% endblock %}